@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image {
  background-image: url('./un3.jpg');
  background-size: cover;
  background-position: left;
}
/* 
.tex1{
  font-size: 4.5rem;
  line-height: 4.5rem;
} */

.fm input{
  height: 50px;
  border-radius: 4px;
  padding-left: 10px;
}

.fm .fmbt{
  height: 50px;
  border-radius: 4px;
}
.tp{
  top: 90%
}

.slp{
  margin-top: -325px;
}

.animated-div {
  animation: color-animation 6s infinite ease-in;
}

@keyframes color-animation {
  0% { background-color: #fbe8e8; }
  50% { background-color: #f6fbe8; }
  75% { background-color: #e8fbfb; }
  100% { background-color: #fbe8e8; }
}

@media (min-width:325px) and (max-width: 768px){
  .slp{
    margin-top: -60px;
  }
  .pg1{
    height: 90vh ;
  }
}